.gradle/
apps-home/
artefacts/
build/
*.iml
*.ipr
*.iws
*.log
out/
apps-local-data
local.env
logs/
.idea
.classpath
.project
.settings
# ignore non-stub logos in the path
stub-idp/src/main/resources/assets/images/providers/*
!stub-idp/src/main/resources/assets/images/providers/stub*
*~
\#*\#
*.class
build
repo
.DS_Store
.gradle
.sass-cache
out/**
deploy/perf_graphs
# Package Files #
*.jar
*.swp
.settings/
bin/

stub-idp/src/dist
target
