.auth .error-text {
    color: #ff0000;
}

.auth .consent li {
    clear: both;
}

.auth .consent li label {
    display: block;
    width: 110px;
    text-align: right;
    font-weight:  bold;
    float: left;
}

.auth .consent span {
    text-align: left;
    display: block;
    float: left;
    padding-left: .75em;
    margin: 4px 0;
}

.auth .consent span.address-item {
    display: block;
    float: none;
    padding-left: .75em;
    margin: 4px 0;
}

.auth .consent ul {
    list-style: none
}

.auth .consent #address{
    padding-left: 0;
}

.auth .consent h2 {
    padding-bottom: 120px;
    background: url(/assets/images/completed-icon-large.png) no-repeat 50% 90%;
}

.auth .consent .consent-details {
    clear: both;
}

.hidden {
    display: none;
}

.success-notification {
    border: 1px solid #00ff00;
    background-color: #ddffdd;
    padding: 0.5em;
}

ul.error-messages {
    border: 1px solid #ff0000;
    background-color: #ffdddd;
    padding: 0;
}
